#quizAppContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.category {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border: none;
}

.option.selected {
    background-color: lightblue; /* Change la couleur de fond de l'option sélectionnée */
}
