/***** Global *****/
*{
    font-family: Arial, Helvetica, sans-serif;
}
#quizAppContainer, #playgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}
/***** fin global *****/

/***** index *****/
h2{
    margin: 100px 0 40px 0;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    gap: 45px;
}


.category {
    padding: 10px 20px;
    background-color: #315AC1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border: none;
}
/***** fin index *****/


/***** playground *****/
#playgroundContainer h1, .questionContainer p {
    text-align: center;
}

#questionsContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#questionsContainer .optionsContainer {
    display: flex;
    gap: 40px;
    justify-content: center;
}

button.option, button#submitButton{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button.option:hover, button#submitButton:hover {
    background-color: #315ac1;;
}

button.option{
    padding: 10px 15px;
}

button#submitButton {
    padding: 10px 30px;
    display: flex;
    margin: 60px auto 0 auto;
}

button.option.selected {
    background-color: #315AC1; /* Change la couleur de fond de l'option sélectionnée */
}

#resultsContainer {
    text-align: center;
    margin-top: 20px;
}
/***** fin playground *****/